{% extends 'base.html' %}
{% load staticfiles %}

              {% block main %}
                <article class="post post-">
                    <header class="entry-header">
                        <h1 class="entry-title">关于该网站</h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">声明</a></span>
                            <span class="post-author"><a href="#">huang</a></span>
                            <span class="comments-link"><a href="#">0 评论</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        本网站为黄泽昊学习所用，列为实例！
                    </div>

              {% endblock main %}
              {% block toc %}
              {% endblock toc %}